<header>
    <div class="header">
        <a href="/">
            <h1>MOVIE MAGIC</h1>
        </a>
        <form action="">
            <input type="text" name="" id="" placeholder="Search">
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="buttons">
        <button>Action</button>
        <button>Crime</button>
        <button>Comedy</button>
        <button>Drama</button>
        <button>Horror</button>
        <button>Music</button>
    </div>
</header>